.reservations {
    background-image: url('../images/restaurant.jpg');
    background-size: cover;
    height: 800px;
  
}
.film {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.356);
    height: 800px;
}